*{ 
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.App{
  background-color: #111;
}

.row__title{
  margin: 1rem 0;
  margin-left: 10px;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.85rem;
}